.tooltip {
  position: absolute;
  width: 190px;
  height: 80px;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  font-weight: bold;
  color: #43a2ca;
  opacity: 0.3;
  text-align: center;
  background: #e0f3db;    
  border: 0;
  border-radius: 10px;
}

.labels {
  text-anchor: middle;
  color: #43a2ca;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
}

.xaxisText, .yaxisText {
  font-family: sans-serif;
  font-weight: bold;
  font: 20px;
  fill: #a8ddb5;
  text-anchor: start;
  text-align: center;
}

.xactive, .yactive {
  font-weight: bold;
  fill: #000;
  fill: #a8ddb5;
  transition: fill 0.3s ease-in;
  text-anchor: start;
  text-align: center;

}

.xinactive, .yinactive {
  font-weight: lighter;
  fill: skyblue;
  transition: fill 0.3s ease-in;
  text-anchor: start;
  text-align: center;
}

.xinactive:hover, .yinactive:hover {
  fill: #12536d;
  cursor: pointer;
}